<div class="row card-deck">
    <div class="col-12 title"><h2>Nos derniers produits</h2></div>
    {% for product in products %}
        <div class="col-xl-2 col-l-1">
            <div class="card card-last-products">
                <div class="row no-gutters img-product">
                    <img src={{ '/assets/uploads/' ~ product.image }} class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }} €<br>
                        {{ product.category_name }}<br>
                        {{ product.brand_name }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
