{% extends 'Home/index.html.twig' %}


{% block content %}

    <section class="describeProduct">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-3 align-self-center">
                    <img src="{{ '/assets/uploads/' ~ product.image }}" alt="image qui représente le produit sélectionné" class="img-thumbnail">
                </div>
                <div class="col-lg-6">
                     <div class="card h-auto p-4">
                        <div class="card-body">
                            <div class="cardDescribe">
                                <h1 class="descriptionTitle">{{ product.name }}</h1>
                            </div>
                            <p>{{ product.description }}</p>
                            <div class="sizeInfo">
                                <h2 class="sizeDescribe">Marque : {{ product.brand_name }}</h2>
                                <h2 class="sizeDescribe">Catégorie : {{ product.category_name }}</h2>
                                <h2 class="sizeDescribe">Référence : {{ product.reference }}</h2>
                                <h2 class="sizeDescribe">Prix : {{ product.price }} €</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
