{% extends 'Home/index.html.twig' %}

{% block content %}

    <section class="describeProduct">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-3 align-self-center">
                    <img src="https://via.placeholder.com/300" alt="image qui représente le produit sélectionné" class="img-thumbnail">
                </div>
                <div class="col-lg-6">
                     <div class="card h-auto p-4">
                        <div class="card-body">
                            <div class="cardDescribe">
                                <h1 class="descriptionTitle">Description</h1>
                            </div>
                            {% for product in products %}
                            <p>{{ product.id }}. {{ product.description}}</p>
                            <div class="sizeInfo">
                                <p>Marque : {{ brand.id }}. {{ brand.name }}</p>
                                <p>Catégorie : {{ category.id }}. {{ category.name }}</p>
                                <p>Référence : {{ product.id }}. {{ product.reference }}</p>
                                <p>Prix : {{ product.id }}. {{ product.price }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
